# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
dist/
client/dist/

# Local env files
.env
.env.local
client/.env
server/.env

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Model scratch folder
scratch/
